@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
/* body{
    background-color: rgba(75, 120, 98, 0.763);
} */
.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
    background-color: rgba(174, 170, 170, 0.756);
    max-width: 400px;
    margin: 250px auto;
    border-radius: 10px;
    padding: 10px 5px;
    font-family: "Nunito", sans-serif;
    font-weight: 800;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#Btn{
    background-color: rgb(49, 156, 102);
    color: white;
    padding: 7px 13px;
    border: none;
    border-radius: 50%;
    font-size: 18px;
    border: none;
    cursor: pointer;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#Btn2{
    background-color: rgb(253, 43, 99);
    color: white;
    padding: 7px 14px;
    border: none;
    border-radius: 50%;
    font-size: 18px;
    border: none;
    cursor: pointer;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#Btn:hover{
    background-color: rgba(0, 173, 86, 0.638);
}
#Btn2:hover{
    background-color: rgba(250, 0, 67, 0.953);
}
#title{
    color: rgb(0, 0, 0);
}