@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

/* src/App.css */
.app {
  margin-top: 50px;
  text-align: center;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
}

.todo-list {
  margin: 20px auto;
  width: 300px;
}

.todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  border-radius: 4px;
}

.todo button {
  background: rgb(255, 0, 89);
  color: white;
  border: none;
  padding: 5px;
  cursor: pointer;
  border-radius: 3px;
}

form {
  margin-bottom: 20px;
}

form input {
  padding: 10px;
  width: 220px;
  border: 1px solid #000000;
  border-radius: 4px;
}

form button {
  padding: 10px;
  margin-left: 10px;
  border: none;
  background: #466e5a;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}